# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/brc-100-payments-master
/payment-express-middleware-master
/BackendWallet
/PushDrop
.claude/
crowdfunding-data.json
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
.next

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.old

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
